{
  "extends": "airbnb",
  "parser": "babel-eslint",
  "rules": {
    "comma-dangle": [
      "error",
      "never"
    ],
    "global-require": 0,
    "import/no-dynamic-require": 0,
    "import/no-unresolved": 2,
    "import/extensions": 0,
  },
  "env": [
    "browser",
    "es6"
  ]
}
