{
  "extends": "airbnb",
  "parser": "babel-eslint",
  "rules": {
    "global-require": 0,
    "import/no-dynamic-require": 0,
    "import/no-unresolved": [0, {"ignore": ["scss"]}],
    "import/extensions": 0,
    "object-curly-spacing": ["error", "never"],
    "jsx-quotes": ["error", "prefer-single"],
    "react/prefer-stateless-function": 0,
    "import/no-extraneous-dependencies": 0 // FIXME
  },
  "env": {
    "browser": true,
    "es6": true
  }
}
