

@import '../../styles/variables';
@import '../../styles/colors';

// TODO: копипаста из nav, ВЫНЕСТИ!!!

.footer
{
    padding: 20px 0;

    border-top: 1px solid $lightblue
}

.container
{
    display: flex;

    padding: 0 40px;

    flex: 1 1 auto;
    justify-content: center;
    align-items: center;

    @media (max-width: $screen-xs-min + $container-padding * 2)
    {
        padding: 0 20px;
    }
}


.icon
{
    font-size: 24px;

    transition: ease-out color .3s ;
    text-decoration: none;

    color: rgba(0, 0, 0, .8);
}

.icon:hover
{
    color: rgba(0, 0, 0, .9);
}
